<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://kit.fontawesome.com/def61b25ec.js" crossorigin="anonymous"></script>
    <title>Productos Nuevos</title>
  </head>
  <body>

    <header>
      <div class="custom-nav-container d-flex align-items-center justify-content-between px-2 py-1 shadow-sm">
        <a class="text-clipped navbar-brand" href="#"> <!--brand-->
            <i class="fas fa-camera-retro d-flex">
              <span class="m-auto">HuecoStore</span>
            </i>

        </a>

        <div class="main-nav-outer " id="iconos" >
          <i class="fas fa-times menu-close-icon text-clipped  d-lg-none "></i>


          <nav class="main-nav navbar navbar-light navbar-expand-lg m-auto ">
            <ul class="navbar-nav d-flex" >
              <li class="nav-item">
                <a class="nav-link" href="#" >Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Nuevo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Usado</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contacto</a>
              </li>
            </ul>

          </nav>

        </div>

        <div class="nav-icons-container d-flex justify-content-end">
          <!--<div class="nav-icons">
            <a href="#">
              <i class="fas fa-search text-clipped"></i>
            </a>
          </div>-->


          <!--<div class="nav-icons">
            <a  href="#">
              <i class="fas fa-shopping-cart text-clipped"></i>
              <span class="badge">2</span>
            </a>
          </div>-->

        <!--  <div class="nav-icons">
            <div class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                <i class="fas fa-user text-clipped"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <form class="p-2 text-secondary" method="post">
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Correo" required>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Contraseña" required>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="dropdown-checkbox">
                    <label class="form-check-label" for="dropdown-checkbox">
                      Recordar contraseña
                    </label>
                  </div>
                  <button type="submit" class="btn btn-bg my-2"name="button">LOGIN</button>
                </form>
                <div class="dropdown-divider mt-0">
                  <a class="dropdown-item" href="#">Crear cuenta</a>
                  <a class="dropdown-item" href="#">Recuperar contraseña</a>
                </div>

              </div>

            </div>

          </div>-->

          <div class="nav-icons d-lg-none">

              <i class="fas fa-bars open-menu-icon text-clipped"></i>
          </div>

        </div>
      </div>

      <!--Start promotions-->
      <div class="promotions text-white text-center py-2 mb-3">
        <span>
          <span class="text-uppercase font-weight-bold">Envío gratis</span> por compras de $100.000 o más!
        </span>

      </div>
      <!--End promotions-->

      <!-- new arrivals-->
      <section class="arrivals">
        <div class="container">
          <div class="section-heading text-center mb-5">
            <h1 class="text-clipped text-uppercase">Nuevos Productos</h1>
            <p class="text-secondary">Compra los nuevos productos</p>
          </div>

          <div class="row text-center">
            <div class="col-12 col-sm-6 col-md-3 mb-3">
              <div class="new-arrival-img mb-3">
                <img src="img/tenis1.jfif" alt="">
              </div>
              <a href="#">
                <span class="text-uppercase font-weight-bold">Nike Air Max</span><br>
                <span>$190.000</span>
              </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-3">
              <div class="new-arrival-img mb-3">
                <img src="img/tenis2.jpg" alt="">
              </div>
              <a href="#">
                <span class="text-uppercase font-weight-bold">Nike Air Max</span><br>
                <span>$200.000</span>
              </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-3">
              <div class="new-arrival-img mb-3">
                <img src="img/tenis3.jpg" alt="">
              </div>
              <a href="#">
                <span class="text-uppercase font-weight-bold">Nike Air Max</span><br>
                <span>$250.000</span>
              </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-3">
              <div class="new-arrival-img mb-3">
                <img src="img/tenis4.jfif" alt="">
              </div>
              <a href="#">
                <span class="text-uppercase font-weight-bold">Nike Air Max</span><br>
                <span>$2200.000</span>
              </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="new-arrival-img mb-3">
                <img src="img/tenis5.jpg" alt="">
              </div>
              <a href="#">
                <span class="text-uppercase font-weight-bold">Nike Air Max</span><br>
                <span>$240.000</span>
              </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="new-arrival-img mb-3">
                <img src="img/tenis6.jpg" alt="">
              </div>
              <a href="#">
                <span class="text-uppercase font-weight-bold">Nike Air Max</span><br>
                <span>$299.000</span>
              </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="new-arrival-img mb-3">
                <img src="img/tenis7.jpg" alt="">
              </div>
              <a href="#">
                <span class="text-uppercase font-weight-bold">Adidas</span><br>
                <span>$290.000</span>
              </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="new-arrival-img mb-3">
                <img src="img/tenis8.jfif" alt="">
              </div>
              <a href="#">
                <span class="text-uppercase font-weight-bold">Adidas2</span><br>
                <span>$190.000</span>
              </a>
            </div>

          </div>

        </div>
      </section>


      <!-- end new arrivals-->


    </header>













    <script type="text/javascript" src="js/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <script type="text/javascript" src="main.js"></script>

  </body>
</html>
